.fullwidth-resources-desc-text {
	background-color: red;
	width: 300px;
}

.fullwidth-resources-unit-text {
	background-color: red;
	width: 50px;
}

.fullwidth-resources-qty-text {
	background-color: red;
	width: 70px;
}

.fullwidth-resources-remarks-text {
	background-color: red;
	width: 300px;
}